<div class="icon-button" id="start-button-container">
    <img id="work-icon"  style="max-width: 50%;" src="assets/icons/code.svg" alt="">
    <a  id="start-button" href="#">start</a>
</div>

<div class="icon-button" id="stop-button-container">
    <img id="work-icon"  style="max-width: 50%;" src="assets/icons/stop.svg" alt="">
    <a  id="stop-button" href="#">stop</a>
</div>

<div class="info-wrapper">
    <span>Session</span> - #<span id="sessionCount">1</span>
</div>