<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>animemo</title>
        <link rel="icon" href="assets/images/favico.png">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <script src="js/main.js" defer></script>
        <script src="js/video.js" defer></script>
        <script src="js/menu.mjs" defer type="module"></script>
        <script src="js/darkmode.mjs" defer type="module"></script>
    </head>
</html>

