<div class="logo-darkmode">
    <div id="logo-favico">
        <a href="/">
            <img src="assets/images/favico.png" alt="">
        </a>
    </div>

    <img class="darkmode-icon" src="assets/icons/moon-solid.svg" alt="">
    <img  class="lightmode-icon" src="assets/icons/sunny.svg" alt="">
    
    <div>
        <p class="darkmode-button">Dark Mode</p>
        <p class="lightmode-button">Light Mode</p>
    </div>
</div>

<div class="logo">
    <a href="/">animemo</a>
</div>  
