<nav class="icon-button">
    <!-- <a class="nav-item" href="#">jumpin</a> -->
    <img class="play_pause_icon" style="max-width: 50%;" src="assets/icons/play_white.svg" alt="">
    <a id="watch" href="menu">watch</a>
</nav>