:root{
    --primary-color: #FFF3E1;
    --secondary-color: #5AA8C0;
    --theitary-color: #EF476F;
    --border-width: 2px;
}

html{
    box-sizing: border-box;
}

*::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background: var(--primary-color);
    color: #22201e;
}

nav{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}

.nav-item{
    text-decoration: none;
    border: 2px solid var(--secondary-color);
    background: var(--secondary-color);
    border-radius: 10px;
    padding: 0.5rem 2rem;
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
}

.logo{
    /* padding-top: 4.5rem; */
    padding-bottom: 2.5rem;
    color: #22201e;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
}


.logo-darkmode{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 0.5rem;
    padding: 1.5rem 1.8rem 2rem 0;
}

#logo-favico{
    margin-right: auto;
}

#logo-favico img{
    max-width: 45%;
}

.darkmode-icon{
    max-width: 1.1%;
    cursor: pointer;
}

.lightmode-icon{
    max-width: 1.5%;
    cursor: pointer;
}

.darkmode-button{
    cursor: pointer;
}

.lightmode-button{
    cursor: pointer;
}

.logo a{
    color: black;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
}

.nav-item:hover{
    border: 2px solid var(--theitary-color);
    background: var(--theitary-color);
}

#timer{
    /* border: 2px solid green; */
    padding: 2.5rem 0 4rem 0;
    font-size: 6.5rem;
    font-weight: 500;
}

/* this will disable a button when its clicked */
.disableButton{
    pointer-events:none;
}

.video{
    border: var(--border-width) solid var(--theitary-color);
    border-radius: 5px;
    max-height: 10%;
    max-width: 50%;
}

.currentAnimeTitle{
    color: var(--secondary-color);
}

#continue_work{
    display: none;
    margin: 0 30rem;
    -webkit-transition: background, border 0.5s, 0.5s;
    transition: background, border 0.5s, 0.5s;
}

.icon-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    border: 2px solid var(--secondary-color);
    background: var(--secondary-color);
    border-radius: 10px;
    padding: 0.5rem 2rem;
    margin: 0 39rem;
    cursor: pointer;
    transition-property: transform, background;
    -webkit-transition: 0.5s,  0.5s ease-in;
    transition: 0.5s, 0.5s ease-in;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.icon-button a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    }
.icon-button:hover{
    border: 2px solid var(--theitary-color);
    background: var(--theitary-color);
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -webkit-transition: 0.5s,  0.5s ease-out;
    transition: 0.5s, 0.5s ease-out;
}

.button-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0 24rem;
    gap: 0.8rem;
    padding: 2.5rem 0;
}

.button-wrapper{
    color: white;
}

.episode-button{
    border: 2px solid var(--secondary-color);
    background: var(--secondary-color);
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: background, border 0.5s, 0.5s;
    transition: background, border 0.5s, 0.5s;
}

.episode-button:hover{
    border: 2px solid var(--theitary-color);
    background: var(--theitary-color);
}

#episode1{
    display: none;
}

#episode2{
    display: none;
}

#episode3{
    display: none;
}

#episode4{
    display: none;
}


#episode5{
    display: none;
}


#episode6{
    display: none;
}


#episode7{
    display: none;
}


#episode8{
    display: none;
}


#episode9{
    display: none;
}


#episode10{
    display: none;
}

#episode11{
    display: none;
}


#episode12{
    display: none;
}

#episode13{
    display: none;
}


#episode14{
    display: none;
}


#episode15{
    display: none;
}


#episode16{
    display: none;
}


#episode17{
    display: none;
}


#episode1{
    display: none;
}


#episode18{
    display: none;
}



#episode19{
    display: none;
}


#episode20{
    display: none;
}


#episode21{
    display: none;
}

#episode22{
    display: none;
}

#episode23{
    display: none;
}

.card-wrapper{
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr;
    justify-content: center;
    gap: 1.5rem;
}

.card{
    border: 4px solid var(--secondary-color);
    border-radius: 8px;
    width: fit-content;
    -webkit-transition: background, border 1s;
    transition: background, border 1s;
}

.card:hover{
    border: 4px solid var(--theitary-color);
    background: var(--theitary-color); 
}

.card-title a {
    color: white;
    text-decoration: none;
}

.TitleButton{
    border: 2px solid var(--secondary-color);
    background: var(--secondary-color);
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.2rem 0;
    margin: -2.5rem 0 0.5rem 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    -webkit-transition: background, border 0.5s, 0.5s;
    transition: background, border 0.5s, 0.5s;
}

.TitleButton:hover{
    border: 2px solid var(--theitary-color);
    background: var(--theitary-color);
}

.toggleDarkMode{
    background: #373331;
    color: white;
}

.darkModetoggleTransition{
    -webkit-transition: background 0.2s 0.2s;
    transition: background 0.2s 0.2s;
}

.lightmode-icon{
    display: none;
}

.toggleLightModeIcon{
    display: block;
}

.toggleDarkModeIcon{
    display: none;
}

.lightmode-button{
    display: none;
}

.toggleLightModeButton{
    display: block;
}

.toggleDarkModeButton{
    display: none;
}

.toggleLogoColor a{
    color: white;
}

.info-wrapper{
    border: 2px solid var(--theitary-color);
    margin: 1.2rem 38rem;
    border-radius: 5px;
}

#stop-button-container{
    display: none;
}

.gradient-border{
    border: 2px solid var(--theitary-color);
    border-radius: 5px;
    margin: -20.6rem 20rem 0rem 20rem;
    padding: 10rem;
    position: relative;
    z-index: -1;
    border-style: double;
    background: linear-gradient(300deg,var(--secondary-color),var(--theitary-color));
    background-size: 259% 259%;
    animation: gradient-animation 2s ease infinite;
}

@media (min-width: 100px) and (max-width: 750px) {
    .icon-button{
        margin: 0 8rem;
    }
    .icon-button img{
        width: 60%;
    }

    .video{
        max-width: 90%;
    }
    .currently-watching{
        margin: 0 2rem;
    }

    .button-wrapper{
        margin: 0 2.2rem;
    }

    .info-wrapper{
        margin: 1.5rem 7rem;
    }

    .card-wrapper{
        display: flex;
        flex-direction: column;
    }

    .TitleButton{
        margin: -1.9rem 5.44rem 0.3rem 5.45rem;
    }

    #continue_work{
        margin: 0 5.5rem;
    }

    .darkmode-icon{
        max-width: 4.2%;
    }

    .lightmode-icon{
        max-width: 6.7%;
    }

    .darkmode-button{
        font-size: 1.1rem;
    }

    .lightmode-button{
        font-size: 1.1rem;
    }

    .logo-darkmode{
        padding: 1.5rem 2.4rem 2rem 0;
    }

    .gradient-border{
        display: none;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .icon-button{
        margin: 0 20rem;
    }
    .icon-button img{
        width: 20%;
    }

    .button-wrapper{
        margin: 0 13.6rem;
    }

    #continue_work{
        margin: 0 8rem;
    }

    .darkmode-icon{
        max-width: 2.2%;
    }

    .lightmode-icon{
        max-width: 3.3%;
    }

    .darkmode-button{
        font-size: 1.1rem;
    }

    .lightmode-button{
        font-size: 1.1rem;
    }

    .info-wrapper{
        margin: 1.5rem 19rem;
    }

    .card-wrapper{
        grid-template-columns: 0.2fr 0.2fr 0.2fr;
    }

    .gradient-border{
        display: none;
    }
}

@media (min-width: 1920px) and (max-width: 2050px) {
    .icon-button{
        margin: 0 56rem;
    }
    .logo{
        padding-top: 4.5rem;
        padding-bottom: 2.7rem
    }
    .logo-darkmode{
        padding-top: 2.8rem;
    }
    .info-wrapper{
        margin: 1.2rem 55rem;
    }
    .darkmode-icon{
        max-width: 0.8%;
        cursor: pointer;
    }

    .lightmode-icon{
        max-width: 1%;
        cursor: pointer;
    }

    #continue_work{
        margin: 0 15rem;
    }

    .button-wrapper{
        margin: 0 35rem;
    }
}

@media (min-width: 1180px) and (max-width: 1300px) {
    /* add styling for tab */
    .icon-button{
        margin: 0 35rem;
    }
    .icon-button img{
        width: 35%;
    }

    .info-wrapper{
        margin: 1.2rem 35rem;
    }
}


/*glow for webkit*/
@-webkit-keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px var(--secondary-color), 0 0 70px var(--secondary-color), 0 0 80px var(--secondary-color), 0 0 100px var(--secondary-color), 0 0 150px var(--secondary-color);
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px var(--secondary-color), 0 0 35px var(--secondary-color), 0 0 40px var(--secondary-color), 0 0 50px var(--secondary-color), 0 0 75px var(--secondary-color);
    }
  }
  /*glow for mozilla*/
  @-moz-keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px var(--secondary-color), 0 0 70px var(--secondary-color), 0 0 80px var(--secondary-color), 0 0 100px var(--secondary-color), 0 0 150px var(--secondary-color);
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px var(--secondary-color), 0 0 35px var(--secondary-color), 0 0 40px var(--secondary-color), 0 0 50px var(--secondary-color), 0 0 75px var(--secondary-color);
    }
  }
  /*glow*/
  @keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px var(--secondary-color), 0 0 70px var(--secondary-color), 0 0 80px var(--secondary-color), 0 0 100px var(--secondary-color), 0 0 150px var(--secondary-color);
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px var(--secondary-color), 0 0 35px var(--secondary-color), 0 0 40px var(--secondary-color), 0 0 50px var(--secondary-color), 0 0 75px var(--secondary-color);
    }
  }


/* animation keyframes for gradient border */
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
